<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjCEVE2_oNEcgdRl8Y6RBhmcSrGd1sAw4</string>
	<key>GCM_SENDER_ID</key>
	<string>516229908285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tynee.GGNA</string>
	<key>PROJECT_ID</key>
	<string>ws-ggna</string>
	<key>STORAGE_BUCKET</key>
	<string>ws-ggna.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516229908285:ios:23126c5b0be8e53970a754</string>
</dict>
</plist>