<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>끄나는 사용자가 설정해 놓은 잠긴 추억에 안전하게 엑세스 하기 위해 FaceID를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진을 선택하여 포토카드를 만들기 위해 접근이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MungyeongGamhongApple.otf</string>
		<string>SangSangRockOTF.otf</string>
		<string>Unreal_science_medicine.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
